<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 
		_____.___.      __   .__   __   .__    .__                
		\__  |   |__ __|  | _|__| |  | _|  |__ |__| ____   _____  
		 /   |   |  |  \  |/ /  | |  |/ /  |  \|  |/ __ \ /     \ 
		 \____   |  |  /    <|  | |    <|   Y  \  \  ___/|  Y Y  \
		 / ______|____/|__|_ \__| |__|_ \___|  /__|\___  >__|_|  /
		 \/                 \/         \/    \/        \/      \/ 
		-->
		<title>Yukikhiem.vn | NDthuan website</title>
		<base href="{{asset('')}}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/lib/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/lib/bootstrap-social.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href="css/lib/themify-icons.css" rel="stylesheet">
		<link rel="stylesheet" href="css/lib/slideshowjquery/slideshowjquery.css">
		<link rel="stylesheet" href="css/lib/lightgallery.css">
		<link rel="stylesheet" href="css/ani.css">
		<link rel="stylesheet" href="css/login.css">
	</head>
	<body>
		{{-- header fixtop --}}
		<header class="navfixtop">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>                        
						</button>
						<a class="navbar-brand" href="home" style="font-family: Akronim">Yukikhiem.vn</a>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="login.html#rowcontent">Intro</a></li>
							<li><a href="login.html#services" class="border-li">Services</a></li>
							<li><a href="login.html#about" class="border-li">About</a></li>
							<li><a href="login.html#contact" class="border-li">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container-fluid location ">
			<div class="text-center">						
				<h1 style="color:indianred">Nguyen Duc Thuan High school</h1>
				<div class="text-location">
					<p><i class="ti-target"></i>Thanh Loi Ward, Vu Ban District, Nam Dinh Province, Viet Nam <a href="https://goo.gl/maps/5aWPEZ4vjJA2" id="ani1" target="_blank">Quick Directions <i class="ti-world"></i>!!</a></p>
					<p><i class="ti-world"> Website: </i><a href="http://thpt-nguyenducthuan.namdinh.edu.vn/" target="_blank">http://thpt-nguyenducthuan.namdinh.edu.vn/</a></p>
					<p><i class="ti-mobile"> Phone: </i><a href="tel:">1234567890</a></p>
					<p><i class="ti-email"> Email: </i><a href="mailto:">thptnguyenducthuan@gmail.com</a></p>
				</div>
			</div>
		</div>
		{{-- content --}}
		<div class="content-wrap">
			<div class="main" >

				<div class="container">		
					<div class="row border-right" id="rowcontent">
						<div class="col-md-9 col-sm-12 col-12 col-lg-9" id="rowleft">
							<!-- slider -->
							<br>
							<div id="jssor_1">
								<!-- Loading Screen -->
								<div data-u="loading" class="jssorl-009-spin" id="jssorl-009-spin">
									<img  src="images/spin.svg" />
								</div>
								<div data-u="slides" id="dataslideshow">
									<div data-p="138">
										<img data-u="image" src="images/image1.jpg"/>
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image2.jpg" />
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image3.jpg" />
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image4.jpg" />
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image5.jpg" />
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image6.jpg" />
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image7.jpg" />
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image8.jpg" />
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image9.jpg" />
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image10.jpg" />
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image11.jpg" />
									</div>
									<div data-p="138">
										<img data-u="image" src="images/image12.jpg" />
									</div>
								</div>
								<!-- Bullet Navigator -->
								<div data-u="navigator" class="jssorb051" id="jssorb051" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
									<div data-u="prototype" class="i" style="width:16px;height:16px;">
										<svg viewbox="0 0 16000 16000">
											<circle class="b" cx="8000" cy="8000" r="5800"></circle>
										</svg>
									</div>
								</div>
								<!-- Arrow Navigator -->
								<div data-u="arrowleft" class="jssora051" style="left:20px;" id="jssora051" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
									<svg viewbox="0 0 16000 16000">
										<polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
									</svg>
								</div>
								<div data-u="arrowright" class="jssora051" style="right:30px;" id="jssora051" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
									<svg viewbox="0 0 16000 16000">
										<polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
									</svg>
								</div>
							</div>

							<!-- #endregion Jssor Slider End -->

							<!-- end slide -->
						</div>
						<div class=" col-xl-3 col-md-3 col-sm-12 col-12 col-lg-3" id="rowright">
							<form action="admin/login" class="form-signin" method="post">
								<input type="hidden" name="_token" value="{{csrf_token()}}">
								<h2 class="form-signin-heading" id="ani">ADMIN SIGN IN</h2>
								<br>
								@if(count($errors) > 0)
								<div class="alert alert-danger">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									@foreach($errors->all() as $error)
									<strong>Fail!</strong> {{$error}}
									<br>
									@endforeach
								</div>
								@endif
								@if(session('notify'))
								<div class="alert alert-warning">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<strong>Warning!</strong> {{session('notify')}}
								</div>
								@endif
								<div class="row">
									<div class="form-group col-md-12">
										<input type="text" class="form-control" id="email" name="email" placeholder="Email"
										value="">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
										<input type="password" class="form-control" id="password" name="password" placeholder="Password" 
										value="">
									</div>
								</div>
								<div class="custom-checkbox">
									<label for="remember" style="cursor: pointer;">
										<input type="checkbox" class="remember" id="remember"  name="remember" value="remember">
										<span style="margin-left: 6px;">Remember me</span>
									</label>
								</div>
								<div class="row" style="margin-bottom: 5px;">
									<div class="col-sm-12"><button class="btn btn-lg btn-primary btn-block col-md-12" type="submit" name="submit">Sign in</button>
									</div>
								</div>
								<div class="row" style="margin-bottom: 3px;">
									<div class="col-sm-12">
										<a href="facebook" type="button" class="btn btn-block btn-social btn-facebook col-md-12" style="color: white;">
											<span class="ti-facebook"></span> Sign in with Facebook
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a href="google" type="button" class="btn btn-block btn-social btn-google" style="color: white;">
											<span class="ti-google"></span> Sign in with Google
										</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="services" id="services">
						<div class="div-title">
							<h3 class="title-services">Attendance and experience</h3>
						</div>
						<div class="div-body" id="lightgallery">
							<div class="col-md-12 body-services">
								<h4 class="intro-left">Exchange, study, search document, chat with schoolmate</h4>
								<div class="row">
									<div class="col-sm-4">
										<h5 class="intro-title">Study and help each other</h5>
										<div class="intro-body" data-src="uploads/images/intro1.PNG" data-sub-html="<big>Make questions<big><p>Post questions or help friends answer questions</p>">
											<img src="uploads/images/intro1.PNG" class="intro-image img-rounded" data-sizes="(min-width: 40em) 80vw, 100vw">
										</div>
									</div>
									<div class="col-sm-4">
										<h5 class="intro-title">Share, search document</h5>
										<div class="intro-body" data-src="uploads/images/intro2.PNG" data-sub-html="<big>Our documents<big><p>Search documents, add documents in the repository</p>">
											<img src="uploads/images/intro2.PNG" class="intro-image img-rounded" data-sizes="(min-width: 40em) 80vw, 100vw">
										</div>
									</div>
									<div class="col-sm-4">
										<h5 class="intro-title">Chat with schoolmate as strangers</h5>
										<div class="intro-body" data-src="uploads/images/intro3.PNG" data-sub-html="<big>Chat room<big><p>I think you will be happy to experience this feature</p>">
											<img src="uploads/images/intro3.PNG" class="intro-image img-rounded" data-sizes="(min-width: 40em) 80vw, 100vw" >
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 body-services">
								<div class="row">
									<div class="col-sm-5">
										<h4 class="intro-title">Safe, security, convenience</h4>
										<h5 class="intro-title">Have you not be a member yet?
											<p class="intro-title">
												<a href="https://localhost/NDT/public/register.html">Join now to have a nice day!!!</a>
											</p>
										</h5>
										<div class="infomation">
											<p class="item"><span class="item-info">100+ </span><span class="item-name">Users</span></p>
											<p class="item"><span class="item-info">200+ </span><span class="item-name">Confessions</span></p>
											<p class="item"><span class="item-info">100+ </span><span class="item-name">Questions</span></p>
											<p class="item"><span class="item-info">300+ </span><span class="item-name">Documents</span></p>
										</div>
									</div>
									<div class="col-sm-7">
										<h4 class="intro-right">You need someone to tell about stories, memories, concerns,..</h4>
										<h5 class="intro-right">Don't worry, our page is a place to help you that.</h5>
										<div class="intro-body" data-src="uploads/images/intro4.PNG" data-sub-html="<big>Confession<big><p>We will help you that</p>">
											<img src="uploads/images/intro4.PNG" alt="intro4" class="intro-image img-rounded">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="card-tag-team" id="about">
						<div class="div-title">
							<h2 class="title-about">Our team</h2>
						</div>
						<div class="col-sm-4 col-12">
							<div class="card team__item">
								<img src="http://byrushan.com/projects/super-admin/app/2.1.2/demo/img/contacts/4.jpg" class="team__img" alt="">

								<div class="card-body ">
									<h3 class="card-title">Nguyễn Bá Khiêm</h3>
									<h4 class="card-info">
										<strong>Competence: </strong>
										Chủ nhiệm ban kĩ thuật
									</h4>
									<div class="team__social">
										<a href="https://www.facebook.com/conmua.duoinhung.11221402" target="_blank"><i class="fab fa-facebook-square" style="color: #3333CC; cursor: pointer;"></i></a>
										<a href="https://www.instagram.com/yukikhiemnguyen/" target="_blank"><i class="fab fa-instagram" style="color: #212529;cursor: pointer;">
										</i></a>
										<a href="mailto:duoinhungconmuak@gmail.com"><i class="fab fa-google" style="color: #c23321;cursor: pointer;">	
										</i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-12">
							<div class="card team__item">
								<img src="http://byrushan.com/projects/super-admin/app/2.1.2/demo/img/contacts/4.jpg" class="team__img" alt="">

								<div class="card-body ">
									<h3 class="card-title">Vũ Ngọc Trung</h3>
									<h4 class="card-info">
										<strong>Competence: </strong>
										No record in the competence.
									</h4>
									<div class="team__social">
										<a><i class="fab fa-facebook-square" style="color: #3333CC; cursor: pointer;"></i></a>
										<a><i class="fab fa-instagram" style="color: #212529;cursor: pointer;">
										</i></a>
										<a href="mailto:admin1@gmail.com"><i class="fab fa-google" style="color: #c23321;cursor: pointer;">	
										</i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-12">
							<div class="card team__item">
								<img src="http://byrushan.com/projects/super-admin/app/2.1.2/demo/img/contacts/4.jpg" class="team__img" alt="">

								<div class="card-body ">
									<h3 class="card-title">Trần Huy Trinh</h3>
									<h4 class="card-info">
										<strong>Competence: </strong>
										No record in the competence.
									</h4>
									<div class="team__social">
										<a><i class="fab fa-facebook-square" style="color: #3333CC; cursor: pointer;"></i></a>
										<a><i class="fab fa-instagram" style="color: #212529;cursor: pointer;">
										</i></a>
										<a href="mailto:admin2@gmail.com"><i class="fab fa-google" style="color: #c23321;cursor: pointer;">	
										</i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-12">
							<div class="card team__item">
								<img src="http://byrushan.com/projects/super-admin/app/2.1.2/demo/img/contacts/4.jpg" class="team__img" alt="">

								<div class="card-body ">
									<h3 class="card-title">Vũ Thanh Thảo</h3>
									<h4 class="card-info">
										<strong>Competence: </strong>
										Chủ nhiệm ban truyền thông
									</h4>
									<div class="team__social">
										<a><i class="fab fa-facebook-square" style="color: #3333CC; cursor: pointer;"></i></a>
										<a><i class="fab fa-instagram" style="color: #212529;cursor: pointer;">
										</i></a>
										<a href="mailto:admin3@gmail.com"><i class="fab fa-google" style="color: #c23321;cursor: pointer;">	
										</i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-12">
							<div class="card team__item">
								<img src="http://byrushan.com/projects/super-admin/app/2.1.2/demo/img/contacts/4.jpg" class="team__img" alt="">

								<div class="card-body ">
									<h3 class="card-title">Vũ Hương Giang</h3>
									<h4 class="card-info">
										<strong>Competence: </strong>
										Phó chủ nhiệm ban truyền thông
									</h4>
									<div class="team__social">
										<a><i class="fab fa-facebook-square" style="color: #3333CC; cursor: pointer;"></i></a>
										<a><i class="fab fa-instagram" style="color: #212529;cursor: pointer;">
										</i></a>
										<a href="mailto:admin4@gmail.com"><i class="fab fa-google" style="color: #c23321;cursor: pointer;">	
										</i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid" style="background-color: rgba(175, 218, 45, 0.6);">
					<div class="contact" id="contact">
						<div class="row">
							<div class="col-sm-5">
								<div class="text-center">
									<h3>Contact</h3>
									<form enctype="multipart/form-data" id="form-confession" method="POST" action="">
										<input type="hidden" name="_token" value="2z8c1rK7j8KDtHjgEODnRqxRnQIrbXwmk4cdjEjk">
										<div class="body-confession row">
											<div class="form-group col-sm-12">
												<input type="text" class="form-control" name="support-name" placeholder="Name:">
											</div>
											<div class="form-group col-sm-12">
												<input type="text" class="form-control" name="support-email" placeholder="Email:">
											</div>
											<div class="form-group col-sm-12">
												<input type="text" class="form-control" name="support-title" placeholder="Title:">
											</div>
											<div class="form-group col-sm-12">
												<textarea tabindex="-1" rows="4" cols="1000" class="text-contact" id="modal-text-confession" name="support-question" placeholder="Type question...." style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 86px;"></textarea>
											</div>
										</div>
									</form>
									<button type="button" class="btn btn-lg btn-block btn-primary btn-post" name="post" >Send</button>
								</div>
							</div>
							<div class="col-sm-7">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3292.118294262927!2d106.1310843!3d20.3653005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135dfb86a550067%3A0xa86f7a090e8e8d02!2zVEhQVCBOZ3V54buFbiDEkOG7qWMgVGh14bqtbg!5e1!3m2!1sen!2s!4v1537702620962" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				<footer class="footer-distributed">
					<div class="footer-left">

						<h3>THPT.NDThuan<span> in my heart</span></h3>

						<p class="footer-links">
							<a href="home">Home</a>
							·
							<a href="aboutus.html">About</a>
							·
							<a href="faqsandsupport.html">FAQs</a>
							·
							<a href="privacypolicy.html">Privacy Policy</a>
							·
							<a href="termservices.html">Terms & services</a>
						</p>
						<div id='google_translate_element'></div>
						<script>
							function googleTranslateElementInit() {
								new google.translate.TranslateElement({
									pageLanguage: 'en',
									autoDisplay: 'true',
									layout: google.translate.TranslateElement.InlineLayout.SIMPLE
								}, 'google_translate_element');
							}
						</script>
						<script src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'></script>
						<br>
						<p class="footer-company-name "> &copy; 2018 - ADMIN PAGE TRUONG THPT NGUYEN DUC THUAN</p>
						<p class="footer-company-name "> All Rights Reserved.</p>
					</div>

					<div class="footer-center">
						<h3 class="text-center">More</h3>
						<div class="text-more footer-links">
							<a href="confession.html">Confession</a> 
							·
							<a href="document.html">Document</a> 
							·
							<a href="chatroom.html">Chat room</a>
							<div>
								<i class="fas fa-phone"></i>
								<p><a href="tel:01647914422" {{-- class="glyphicon glyphicon-phone-alt" --}}>01647914422</a></p>
							</div>

							<div>
								<i class="fas fa-envelope"></i>
								<p><a href="mailto:thptnguyenducthuan123vbnd@gmail.com"><span>supportndt@page.com</span></a></p>
							</div>

							<div>
								<p><span>7:00AM to 10:00PM (GMT+7)</span>
								</p>
							</div>
						</div>
					</div>

					<div class="footer-right">
						<div class="footer-company-slogan">
							<h3 class="slogan">Our slogan</h3>
							<br>
							<p>
								We are the admin team of Nguyen Duc Thuan high school. We are not only dynamic, funny but also always listen to what you say. If you have concerns, the stories, memories,... please contact us for advice. Let us be your confidante. ^_^ ^_^
							</p>
						</div>

						<div class="footer-icons">

							<a href="https://www.facebook.com/ndtvbnd/"><i class="ti-facebook"></i></a>
							<a><i class="ti-twitter-alt"></i></a>
							<a><i class="ti-linkedin"></i></a>
							<a><i class="ti-youtube"></i></a>
							<a><i class="ti-skype"></i></a>
						</div>

					</div>
					<hr style="" class="designer">
					<p class="footer-company-name ">
						Design by <a href="https://www.facebook.com/conmua.duoinhung.11221402" class="footer">Yuki Khiêm Nguyễn</a>
					</p>
				</footer>
			</div>
		</div>
		<!-- Call to Action Well -->
		<!-- jquery vendor -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
		<!-- nano scroller -->
		<script src="js/lib/jquery.nanoscroller.min.js"></script>
		<!-- sidebar -->
		<script src="js/lib/menubar/sidebar.js"></script>
		<script src="js/lib/preloader/pace.min.js"></script>

		<script src="js/lib/slideshowjquery/jssor.slider-27.2.0.min.js"></script>
		<!-- lightgallery -->
		<script src="js/lib/lightgallery/lightgallery.js"></script>
		<script src="js/lib/lightgallery/lg-fullscreen.js"></script>
		<script src="js/lib/lightgallery/lg-thumbnail.js"></script>
		<script src="js/lib/lightgallery/lg-autoplay.js"></script>
		<script src="js/lib/lightgallery/lg-share.js"></script>
		<script src="js/lib/lightgallery/lg-zoom.js"></script>
		<script src="js/lib/lightgallery/lg-pager.js"></script>
		<script>
			$(document).ready(function() {
				var lightgallery = $("#lightgallery");
				lightgallery.lightGallery({
					selector: '.intro-body',
					thumbnail:true,
					animateThumb: true,
					showThumbByDefault: false
				}); 
				var colours = ['#21171A', '#81575E', '#9C5043', '#8F655D'];
				lightgallery.on('onBeforeSlide.lg', function(event, prevIndex, index){
					$('.lg-outer').css({
						'background-color': colours[index],
						transition: 'background-color 600ms ease 0s',
					});
				});
			});
		</script>
		<!-- back to top -->
		<script type="text/javascript">
			$(document).ready(function(){
				$(window).scroll(function(){
					if($(window).scrollTop() + $(window).height() == $(document).height()) {
						$('#scrollToTop').addClass('bounce');
					}
					if($(this).scrollTop() > 100){
						$('#scrollToTop').fadeIn();
					}
					else{
						$('#scrollToTop').fadeOut();
					}
				});
				$('#scrollToTop').click(function(){
					$("html, body").animate({ scrollTop: 0 }, 400);
					return false;
				});
			});
		</script>
		<script type="text/javascript">
			jQuery(document).ready(function ($) {

				var jssor_1_options = {
					$AutoPlay: 1,
					$SlideWidth: 720,
					$ArrowNavigatorOptions: {
						$Class: $JssorArrowNavigator$
					},
					$BulletNavigatorOptions: {
						$Class: $JssorBulletNavigator$
					}
				};

				var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

				/*#region responsive code begin*/

				var MAX_WIDTH = 980;

				function ScaleSlider() {
					var containerElement = jssor_1_slider.$Elmt.parentNode;
					var containerWidth = containerElement.clientWidth;

					if (containerWidth) {

						var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

						jssor_1_slider.$ScaleWidth(expectedWidth);
					}
					else {
						window.setTimeout(ScaleSlider, 30);
					}
				}

				ScaleSlider();

				$(window).bind("load", ScaleSlider);
				$(window).bind("resize", ScaleSlider);
				$(window).bind("orientationchange", ScaleSlider);
				/*#endregion responsive code end*/
			});
		</script>
		{{-- autosize for textarea --}}
		<script src="js/lib/autosizetextarea/autosize.min.js"></script>
		<script>
			autosize(document.querySelectorAll('textarea'));
		</script>

		<script>
			$(document).ready(function() {
				$(".navbar a").on('click', function(event) {
					if (this.hash !== "") {
						event.preventDefault();
						var hash = this.hash;
						$('html, body').animate({
							scrollTop: $(hash).offset().top
						}, 900, function(){

							window.location.hash = hash;
						});
					}
				});
				if ($(window).width() >767) {
					$('ul.nav li.dropdown').hover(function() {
						$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
					}, function() {
						$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
					});
				}
			});
		</script>
	</body>
	</html>